doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='./styles/app.css')
    title Productly
  body
    header.header
      .wrapper
        a.logo(href="#!") Logo
        nav.header__navigation
          ul.navigation
            li Home
            li Services
            li About
            li Product
        .header__buttons
          button.button.button--bordered Sign In
          button.button.button--colored Sign Up
    main
      section.promo
        .wrapper
          .promo__content
            h1 The Design Thinking superpowers
            p Tools, tutorials, design and innovation experts, all in one place! The most intuitive way to imagine your next user experience.
            .promo__buttons
              button.button.button--colored Get started
              a.link-button(href="")
                span.ico.ico--play Watch the Video
      section.tools
        .wrapper
          h2 We design tools to unveil your superpowers
          .layout-4-column
            .tool
              .tool__icon
                span.icon-square.icon-square--lilium
              h4 First click tests
              p While most people enjoy casino gambling
          .tools-button
            button.button.button--colored Sign Up Now
      section.strategies
        .wrapper
          h2 Marketing Strategies
          p.strategies__description Join 40,000+ other marketers and get proven strategies on email marketing
          .strategies__tags
            span.tag.tag--selected All
            span.tag.tag--bordered Art
          .layout-3-column
            .strategy.block-shadowed
              img(src="./img/strategies/1.jpg", alt="img")
              h3 Increasing Prosperity With Positive Thinking
              .strategies__tags
                span.tag.tag--colored
      section.about-us
        .wrapper
          h2 About Us
          p Your About Us page is vital. It’s often the first stop in any user’s journey through a website or blog. It also shouldn’t be their last, because first impressions count online just as much as they do in the real world. If your visitors aren’t impressed, you can expect them to leave without reading your awesome content or completing a conversion action (e.g., signing up for your newsletter, making a purchase).
          .layout-3-column
            .employee.block-shadowed
              .employee__content
                h5 Kathy Rosenberg
                p.employee__title Product Manager
                a(href="mailto:kathyr@gmail.com") kathyr@gmail.com
      section.contact-us
        .wrapper
          h2 Contact Us
          .layout-2-column
            .contact-us__content
              p Your About Us page is vital. It’s often the first stop in any user’s journey through a website or blog. It also shouldn’t be their last, because first impressions count online just as much as they do in the real world. If your visitors aren’t impressed, you can expect them to leave without reading your awesome content or completing a conversion action (e.g., signing up for your newsletter, making a purchase).
              p
                span.ico.ico--phone
                a(href="tel:+79955555555") +375 (22) 345-00-99
              p
                span.ico.ico--letter
                a(href="mailto:emailname@gmail.com") emailname@gmail.com
            .contact-us__form
              form(action="", method="post")
                .layout-2-column
                  input(type="text" name="name" placeholder="Your name")
                  input(type="email" name="email" placeholder="Your email")
                textarea#(name="question", cols="30", rows="10")
                .contact-us__button
                  button(type="submit").button.button--colored Send
      footer.footer
        .wrapper
          .layout-4-column
            a.logo(href="#!") Logo
            .footer-navigation
              h4 Quick Links
              ul.footer-navigation__links
                li
                  a(href="#") About us


















